<h1>Productos en Tiempo Real</h1>

<div id="products-list">
    {{#each products}}
        <div style="border: 1px solid gray; margin: 10px; padding: 10px;">
            <h3>{{this.title}}</h3>
            <p>Precio: ${{this.price}}</p>
        </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>